<h1>Index Page (show)</h1>
<hr>
<br/>
<h2>All Projects</h2>
	<div class="Left">
		@project
	</div>

	<%= link_to 'Edit Project', edit_project_url(@project.id) %>
	<%= link_to 'Delete Project', project_url(@project.id), method: :delete, notice: "Project Deleted!" %>